name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: check out repo
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: setup poetry
        run: |
          pip install poetry==1.8.2
          poetry install

      - name: run tests
        shell: bash
        run: poetry run pytest